* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: pink;
}

a{
  text-decoration: none;
  color: white;
}

li.upper{
  text-transform: uppercase;
}

header{
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  line-height: 80px;
  background: lightblue;
}

header ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header ul li span:hover{
  cursor: pointer;
  font-weight: bold;
}

header ul li img{
  height: 80px;
}

header ul li a{
  padding: 10px 25px;
  background-color: rgb(213, 26, 138);
  border-radius: 25px;
}

.dropdown{
  display: flex;
}
.dropdown ul{
  flex-direction: column;
}























































/* // */
