* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  /* background-color: pink; */
}

a{
  text-decoration: none;
  color: white;
}

li.upper{
  text-transform: uppercase;
}


header{
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  line-height: 80px;
  /* background: lightblue; */
  position: relative;
}

header ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

header ul li span:hover{
  cursor: pointer;
  font-weight: bold;
}

header ul li img{
  height: 80px;
}

header ul li a{
  padding: 10px 25px;
  background-color: rgb(213, 26, 138);
  border-radius: 25px;
}

/* DROPDOWN */
/* .with-dropdown{
  position: relative;
} */

.dropdown span{
  text-transform: capitalize;
}
.dropdown li{
  line-height: 50px;
  padding: 0 20px;
}
.dropdown{
  display: none;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.45);
  position: absolute;
  transform: translateX(-30%);
}

.dropdown ul{
  flex-direction: column;
}

.active{
  display: flex;
}























































/* // */
